/* https://www.palettable.io/8D889B-156D7D-E1D8CF-806086-782444 */

.leftMenu {
    float: left; /*Задаем обтекание*/
    line-height: 50px; /*Высота строки +  верт. центрирования текста*/
    /*font-size: 40px;*/
    margin-left: -8px;
    padding-top: 40px;

    width: 110px;
    height: 1000px;

    color: #FFFFFF;
    background: #63b175;
}

A {
    color: #FFFFFF;
}

li {
    list-style-type: none; /* Убираем маркеры */
    margin: 10px;
}

ol li {
    padding-top: 40px;
    margin-left: -80px;

}