/* https://www.palettable.io/8D889B-156D7D-E1D8CF-806086-782444 */

.leftMenu {
    float: left; /*Задаем обтекание*/
    line-height: 18px; /*Высота строки +  верт. центрирования текста*/
    /*font-size: 40px;*/
    margin-left: 0px;
    padding-top: 0px;

    width: 100px;
    height: 1000px; /* //TODO сделать бесконечность */

    color: #30383e;
    background: #cfd2d2;
    text-align: center;
    font-size: 13px;
    font-weight: 600;

}

A {
    color: #30383e;
}

li {
    list-style-type: none; /* Убираем маркеры */
    margin: 8px;
}

.link {
    color: #30383e;
}

ol li {
    padding-top: 26px;
    margin-left: -75px;

}
