/* https://www.palettable.io/8D889B-156D7D-E1D8CF-806086-782444 */

.leftMenu {
    float: left; /*Задаем обтекание*/
    line-height: 20px; /*Высота строки +  верт. центрирования текста*/
    /*font-size: 40px;*/
    margin-left: 0px;
    padding-top: 0px;

    width: 100px;
    height: 1000px; /* //TODO сделать бесконечность */

    color: #343a40;
    background: #ddd;
}

A {
    color: #343a40;
}

li {
    list-style-type: none; /* Убираем маркеры */
    margin: 10px;
}

.link {
    color: #343a40;
}

ol li {
    padding-top: 40px;
    margin-left: -75px;

}