body {
    background: #19191f;

    color: #bcbec1;

    margin: 0;
    padding: 0;
}

A {
    text-decoration: none;
    color: #bcbec1; /* Цвет ссылок */
}
A:visited {
    color: #bcbec1; /* Цвет посещенных ссылок */
}
A:active {
    color: #bcbec1; /* Цвет активных ссылок */
}

.lineBlock {
    display:inline
}

h1 {
    text-align:center
}