.header {
    background-image: linear-gradient(to right, #287d2f, #538c5a 46%, #538c5a 56%, #287d2f);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0;
    width: auto;
    padding-left: 100px;

    color: #FFFFFF

}

span {
    margin-right: 30px;
    margin-left: 50px;
}

A {
    text-decoration: none;
    color: #bcbec1; /* Цвет ссылок */
}