body {
    background: #1a1a1a;

    color: #333333;

    margin: 0;
    padding: 0;
    text-align: center;
}

A {
    text-decoration: none;
    color: #FFFFFF; /* Цвет ссылок */
}
A:visited {
    color: #FFFFFF; /* Цвет посещенных ссылок */
}
A:active {
    color: #FFFFFF; /* Цвет активных ссылок */
}

.lineBlock {
    display:inline
}

