body {
    background: #ffffff;

    color: #343a40;

    margin: 0;
    padding: 0;
    text-align: center;
}

.button {
    outline:none;
    border: none;
}

Button:hover {
    cursor:pointer;
}


A {
    text-decoration: none;
    color: #343a40; /* Цвет ссылок */
}
A:visited {
    color: #343a40; /* Цвет посещенных ссылок */
}
A:active {
    color: #343a40; /* Цвет активных ссылок */
}

/*.lineBlock {*/
/*    display:inline*/
/*}*/

