body {
    background: #ffffff;

    color: #333333;

    margin: 0;
    padding: 0;
    text-align: center;
}

.button {
    outline:none;
    border: none;
}


A {
    text-decoration: none;
    color: #333333; /* Цвет ссылок */
}
A:visited {
    color: #333333; /* Цвет посещенных ссылок */
}
A:active {
    color: #333333; /* Цвет активных ссылок */
}

.lineBlock {
    display:inline
}

