.header {
    background: #343a40;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    width: auto;
    padding-left: 25px;
    height: 45px;

    color: #ddd
}

.chooseGender {
    position:absolute;
    margin-left: 100px;
    font-size: 30px;
}

.search {
    float: left;
}

.userBlock {
    position:relative;
    width:600px;
    float: right;
    text-align: right;
    padding-right: 0px;
}

.gender {
   font-size: 15px;
}

.logo {
    width: 170px;
}

.button {
    color: #ddd;
    background: #343a40;
    margin-right: 10px;
    margin-left: 10px;
}

.chosen {
    color: #00871e;
}

span {
    margin-right: 30px;
    margin-left: 30px;
}

A {
    text-decoration: none;
    color: #ddd; /* Цвет ссылок */
}