.header {
    background: #343a40;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    width: auto;
    padding-left: 25px;
    height: 50px;

    color: #ddd

}

.userBlock {
    position:relative;
    width:400px;
    float: right;
}

.button {
    color: #ddd;
    background: #343a40;
    margin-right: 15px;
    margin-left: 15px;
}

span {
    margin-right: 30px;
    margin-left: 30px;
}

A {
    text-decoration: none;
    color: #bcbec1; /* Цвет ссылок */
}