.header {
    background-image: linear-gradient(to right, #26343a, #064f6f 46%, #064f6f 56%, #26343a);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0;
    width: auto;
    padding-left: 100px;

    color: #ddd

}

span {
    margin-right: 30px;
    margin-left: 50px;
}

A {
    text-decoration: none;
    color: #bcbec1; /* Цвет ссылок */
}